.main-view .ant-layout-header {
  height: 250px;
  background: #263238;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
}
.main-view .hx-header-row {
  height: 230px;
  margin-top: 20px;
}

.main-view .hx-content {
  min-height: 75vh;
  padding: 50px 0;
}

/* .main-view .hx-button-analyze {
  float: right;
  margin-top: 10px;
} */
.main-view .result-real {
  color: green;
  margin-top: 10px;
}
.main-view .result-fake {
  color: red;
  margin-top: 10px;
}
